#cloud-config
users:
  - default
{% for user in users %}
  - name: {{ user.name }}
    ssh_authorized_keys:
{% for public_key in user.public_keys %}
      - {{ public_key }}
{% endfor %}
    sudo: ALL=(ALL) NOPASSWD:ALL
    groups: sudo
    shell: /bin/bash
{% endfor %}

package_update: true
package_upgrade: true
packages:
{% for package in vm.packages %}
 - {{ package }}
{% endfor %}
